# Build folders
/target/
/build/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/**/target/
!**/src/test/**/target/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar

# IDEs
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated
.factorypath
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# OS-specific
.DS_Store
Thumbs.db

# Logs
*.log

# Env files
.env
